/* БАЗА */
body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    font-size: 13px;
    background: #f0f2f5;
    color: #333;
}

.hidden {
    display: none;
}